<footer>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4">
          <h3>Catégories</h3>
          <ul>
            <li><a href="#">Revues</a></li>
            <li><a href="#">Recettes</a></li>
            <li><a href="#">Découvertes</a></li>
          </ul>
        </div>
        <div class="col-12 col-md-4">
          <h3>Archives</h3>
          <ul>
            <li><a href="#">2019</a></li>
            <li><a href="#">2018</a></li>
            <li><a href="#">2017</a></li>
          </ul>
        </div>
        <div class="col-12 col-md-4">
          <div class="section">
            <h6>Newsletter</h6>
            <form class="form-inline">
              <div class="form-group">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                  placeholder="Email..." />
              </div>
              <button type="submit" class="btn btn-primary">
                S'inscrire
              </button>
            </form>
          </div>
          <div class="section social-icons">
            <h6>Partager</h6>
            <ul>
              <li>
                <a href="#" class="social-icon">
                  <i class="fab fa-facebook"></i>
                </a>
              </li>
              <li>
                <a href="#" class="social-icon">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
              <li>
                <a href="#" class="social-icon">
                  <i class="fab fa-youtube"></i>
                </a>
              </li>
              <li>
                <a href="#" class="social-icon">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>