 <header>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <img src="img/logo_square_white.png" />
            <h1>Cui'zine</h1>
            <h2>Le mag cuisine</h2>
          </div>
        </div>
      </div>
    </header>