<h1>Mon formulaire</h1>
<form method="post" action="/login">
    <input type="text" name="user" class="#"/> 
    <input type="password" name="password" class="#"/> 
    <button type="submit" class="btn btn-primary"> login</button>
</form>